<!-- Gallery Body Block -->
<div class="flex flex-row justify-between">
    <div class="border-t border-r border-black w-4 shrink-0"></div>
    <div class="flex-1 border-0 sm:border-r sm:border-t border-black"></div>
    <div class="min-w-0 sm:w-2/3 border-t border-black p-1">
      {% assign dir = page.image_dir %}
      {% assign files = site.static_files | where_exp: "file", "file.path contains dir" %}

      <div class="columns-1 md:columns-2 w-full gap-0">
        {% for file in files %}
          {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.png' or file.extname == '.webp' or file.extname == '.gif' %}
            <a href="{{ file.path }}" target="_blank" class="cursor-pointer block p-1 break-inside-avoid">
              <div class="w-full bg-white bg-[radial-gradient(#cccccc_1px,transparent_1px)] bg-[size:10px_10px]">
                <img src="{{ file.path }}" alt="{{ file.name }}" class="block object-cover w-full h-auto opacity-0" onload="this.style.opacity = 1">
              </div>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="flex-1 border-0 sm:border-t sm:border-l border-black"></div>
    <div class="border-t border-l border-black w-4 shrink-0"></div>
</div>

