<!-- Post Comment Row -->
<div class="flex flex-row justify-between">
    <div class="border-t border-r border-black w-4 shrink-0"></div>
    <div class="flex-1 border-t sm:border-r border-black"></div>
    <div class="min-w-0 sm:w-2/3 border-t border-black font-medium font-[Inter] text-base p-2 text-center break-words">
        {{ page.comment }} {{ page.date | date: "%Y-%m-%d" }}
    </div>
    <div class="flex-1 border-t sm:border-l border-black"></div>
    <div class="border-t border-l border-black w-4 shrink-0"></div>
</div>
