<!-- Navbar Row -->
<div class="flex flex-row">
    <div class="border-t border-r border-black w-4 shrink-0"></div>
    <div class="border-t border-black flex-1 flex flex-col items-center justify-center sm:flex-row sm:justify-start sm:gap-2">
        <!-- Logo -->
        <a class="w-full sm:w-auto flex flex-col justify-center sm:h-full sm:flex-row sm:justify-start border-b sm:border-0 border-black" href="/">
            <img class="max-h-[4rem] sm:h-16" src="/assets/img/logo_green.svg" alt="Logo">
        </a>
        <!-- Link row (only stacked layout affected) -->
        <div class="w-auto flex flex-row flex-wrap gap-3 justify-center sm:justify-start p-2">
            <a class="inline-flex items-center justify-center px-4 py-2 text-sm font-[IBM_Plex_Mono] text-black bg-neutral-200 border-1 border-black rounded-full hover:text-white hover:bg-black" target="_blank" href="/assets/misc/joshua_jang_cv.pdf">
            CV
            </a>
            <a class="inline-flex items-center justify-center px-4 py-2 text-sm font-[IBM_Plex_Mono] text-black bg-neutral-200 border-1 border-black rounded-full hover:text-white hover:bg-black" target="_blank" href="https://github.com/musicofmusix">
                GitHub
            </a>
            <a class="inline-flex items-center justify-center px-4 py-2 text-sm font-[IBM_Plex_Mono] text-black bg-neutral-200 border-1 border-black rounded-full hover:text-white hover:bg-black" target="_blank" href="https://www.linkedin.com/in/joshua-jang-30704a341/">
                LinkedIn
            </a>
        </div>
    </div>
    <div class="border-t border-l border-black w-4 shrink-0"></div>
</div>
