<!-- Post Subtitle Row -->
<div class="flex flex-row justify-between">
    <div class="border-t border-r border-black w-4 shrink-0"></div>
    <div class="flex-1 -ml-px border-t sm:border-r border-black"></div>
    <div class="min-w-0 w-full max-w-3xl border-t border-black font-[300] font-[Inter] text-2xl p-2 text-center break-words">
        {{ page.subtitle }}
    </div>
    <div class="flex-1 -mr-px border-t sm:border-l border-black"></div>
    <div class="border-t border-l border-black w-4 shrink-0"></div>
</div>
