@import "tailwindcss";

@source inline("aspect-[2/3]");
@source inline("aspect-[1/1.41]");

@layer base {
  body {
    @apply tracking-tight;
  }
  ::selection {
    @apply bg-black text-white;
  }
}

.markdown {
  color: black;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  overflow-wrap: break-word;
  line-height: 1.5;
  --markdown-pad: 0.5rem;
}

.markdown > :last-child {
  margin-bottom: 0;
}

.markdown p,
.markdown img,
.markdown video {
  margin-bottom: 0.5rem;
}

.markdown a {
  text-decoration: underline;
}

.markdown a:hover {
  background-color: black;
  color: white;
}

.markdown strong {
  font-weight: 500;
}

/* headings */

.markdown h1 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.markdown h1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 1px;
  background-color: black;
  transform: translateX(-50vw);
}

.markdown h2 {
  position: relative;
  font-size: 1.25rem;
  font-weight: 400;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.markdown h2::after {
  content: '';
  position: absolute;
  top: 0;
  left: calc(-1 * var(--markdown-pad));
  width: calc(100% + 2 * var(--markdown-pad));
  height: 1px;
  background-color: black;
}

.markdown h3 {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 0.5rem;
}

/* lists */

.markdown ul,
.markdown ol {
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}

.markdown li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.markdown ul {
  list-style-type: square;
}

.markdown ol {
  list-style-type: decimal;
}

/* tables */

.markdown table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0.5rem;
}

.markdown th,
.markdown td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
}

/* mathjax */

mjx-container[display="true"] {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 0.5rem;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
}

mjx-container[display="true"] > mjx-math {
  min-width: fit-content;
}
