{% assign category = include.category %}
{% for post in site.categories[category] %}
    <!-- Category Content Row -->
    <div class="flex flex-row items-stretch">
        <!-- Left border column -->
        <div class="w-4 border-t border-r border-black shrink-0"></div>
        
        <!-- Content -->
        <div class="border-t border-black flex-1 flex flex-col sm:flex-row">
            <div class="sm:w-1/2 xl:w-1/3 border-b sm:border-b-0 sm:border-r border-black flex flex-col justify-between p-4 gap-2">
                <div class="flex flex-col gap-1">
                    <div class="flex flex-row items-center">
                        <div class="w-2 h-2 bg-black mr-2"></div>
                        <div class="font-normal font-[IBM_Plex_Mono] text-sm break-words">
                            {{ post.date | date: "%Y-%m-%d" }}   
                        </div>
                    </div>
                    <div class="font-medium font-[Inter] text-2xl uppercase break-words">
                        {{ post.title }}
                    </div>
                    <div class="font-normal font-[IBM_Plex_Mono] text-sm break-words">
                        {{ post.subtitle }}
                    </div>
                </div>
                <img class="w-full h-auto" src="{{ post.thumbnail }}">
                <div class="font-normal font-[IBM_Plex_Mono] text-sm break-words">
                    {{ post.comment }}
                </div>
                
            </div>
            <div class="sm:w-1/2 xl:w-2/3 flex flex-col justify-between items-center h-full p-2">
                <!-- Spacer -->
                <div class="flex-grow"></div>
            
                <!-- Centered Text -->
                <div class="markdown w-full font-normal font-[IBM_Plex_Mono] p-2 text-left break-words">
                    {{ post.abstract | markdownify }}
                </div>

                <!-- Spacer -->
                <div class="flex-grow"></div>
            
                <!-- Button at the bottom -->
                <a class="w-full inline-flex items-center justify-center px-4 py-2 font-[IBM_Plex_Mono] text-sm text-black bg-neutral-200 border-1 border-black rounded-full hover:text-white hover:bg-black"
                href="{{ post.url }}">
                    See more
                </a>
            </div>
        </div>

        <!-- Right border column -->
        <div class="w-4 border-t border-l border-black shirnk-0"></div>
    </div>
{% endfor %}